.recipe-page {
  .left-menu {
    height: 100vh;
    padding: 0.8rem;
    border-right: solid 0.1rem #8d6f6f;
    gap: 0.5rem;

    .app-title {
      font-size: 26px;
      height: 5rem;
      display: flex;
      align-items: center;
      padding-left: 0.3rem;
    }
  }

  .recipe-container {
    padding: 2rem;
    .recipe-card {
      width: 10rem;
      height: 10rem;
    }
  }
}
