.list-creation-page {
  .recipe-container {
    padding: 1rem;
    align-content: start;
    justify-content: center;
    .recipe-card {
      width: 10rem;
      height: 10rem;
    }
  }

  .shopping-list-container {
    border-left: 2px solid #ffffff;
    padding: 2rem;
  }
}
